<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Catalogo de productos</h5>
      <p class="card-text">Accede al catalogo de productos ofrecidos por nuestra compañia</p>
      <a routerLink="/login"><router-outlet></router-outlet>Inicio</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Modulo de compras</h5>
      <p class="card-text">Ingresa para comprar nuestros productos</p>
      <a routerLink="/Register">registro</a>
    </div>
  </div>
</div>